# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts


NEXT_PUBLIC_TMDB_API_KEY=eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJhYzY3ODI0MDFhM2Q4ODQyMjNjOTE5YTdiNjM4N2JhOSIsIm5iZiI6MTc0ODk1NzM4My4zODksInN1YiI6IjY4M2VmOGM3YzMwMmU3MjAyZGZjYWUxMiIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.44lxWJLFfs9D7_mW_qIQGP7wRT_ypC_lYWG4BxKebxU
